.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

 /* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 100s linear;
  }
} */

.App-header {
  display: flex;
  flex-direction: column;
  align-items: left;
  /*font-size: calc(10px + 2vmin);*/
  text-align: left;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */

.logo{
  background-color:rgb(216, 106, 3);
}

.logotipo{
  height:auto;
  max-width: 15%;
}

.Titulo-Pag-Principal{
  height:auto;
  color: rgb(216,106,3);
}

@media only screen and (max-width: 700px) {
  .logotipo{
    height:auto;
    max-width: 30%;
  }

  .Titulo-Pag-Principal{
    height: auto;
    max-width: 100%;
    font-size: calc(10px + 3vmin);
  }
}

